<!--禁止访问页面-->
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>禁止访问</title>
    <style>
        body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 100px;
        }
        h1 {
            font-size: 48px;
            color: #c61212;
        }
        p {
            font-size: 20px;
            color: #666;
        }
    </style>
</head>
<body>
    <h1>ERROR 403</h1>
    <p>您没有权限访问此页面。</p>
</body>
</html>
